// Variables

// Color overrides

// Set a custom color
$orange: #007bff !default;
$brown: #5c4d42 !default;

// Set primary color to orange
$primary: $orange !default;

// Custom variables
$navbar-height: 55px;
$border-radius:.3rem;
